body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header, .footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    padding: 20px 150px;
    box-sizing: border-box;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.links {
    display: flex;
    gap: 15px;
}

#show {
    display: flex;
}

.sub {
    font-size: 18px;
    color: #E5E7EB;
}

.head-image {
    width: 500px;
    height: 300px;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}